.footer {
  max-width: 100vw;
  margin-top: 92px;
}
.footer__copyright {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
  padding-bottom: 24px;
}

@media screen and (max-width: 920px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    margin-top: 64px;
  }
  .footer__copyright {
    margin-top: 64px;
    line-height: 14px;
  }
}
