.header {
  display: flex;
  justify-content: center;
  padding-top: 34px;
}

@media screen and (max-width: 1000px) {
  .header {
    padding-bottom: 91px;
    padding-top: 34px;
  }
  .header__logo {
    max-height: 70px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    padding-bottom: 51px;
    padding-top: 20px;
    max-width: 100vw;
  }
  .header__logo {
    max-height: 52px;
  }
}
